<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/layout.css">
    <title>My Blog Creation</title>
</head>
<body>

    <header>
        <div class="tag">
            <a href="/create" class="blog">Dope Blog</a>
        </div>

        <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="nav-bar">
            <div class="links">
                <a href="/create"><i class='bx bx-book'></i> Create Post </a> 
                <a href="/view"><i class='bx bxs-bullseye'></i> View Blogs </a>
            </div>
        </nav>
    </header>
    
    <script src="/JS/main.js"></script>
</body>
</html>