
<%- include ("partials/header.ejs") %>
    
    <main class="contents">
        <div class="first-page">
            <h1 class="welcome"> Welcome to this amazing Blog 🤩 </h1>
        </div>
    </main>

<%- include ("partials/footer.ejs") %>