<%- include("partials/header.ejs") %>

    <main class="contents">
        <div class="post-success">
            <i class='bx bxs-check-circle'></i>
            <h2 class="mssg"> <%= message %> </h2>
        </div>
    </main>

<%- include("partials/footer.ejs") %>